# =====================================
#  .NET
# =====================================
bin/
obj/
published/

# =====================================
#  Visual Studio / IDE
# =====================================
.vs/
*.user
*.suo
*.cache
*.csproj.user
launchSettings.json

# =====================================
#  Build Results
# =====================================
[Dd]ebug/
[Rr]elease/
x64/
x86/

# =====================================
#  OS Files
# =====================================
Thumbs.db
desktop.ini
.DS_Store

# =====================================
#  Misc
# =====================================
*.log
